$red:#EE1111;
$dark-blue: #030235;
$light-blue-bg:#F1F3F9;
$offering-nav-bg: #26254D;
$offering-nav-bg--active:#323079;
$grey-text: #787878;
$h3-caption-color: #282828;
$transparency-white: transparentize(white, 0.4);
$padding-section: 170px;
$width-section: 940px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}